@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

p, button {
  @apply text-gray-300
}
button {
  @apply border-gray-600
}
.home-button {
  @apply rounded px-4 py-1 bg-sky-900 text-sm 
}
.title {
  @apply text-white text-sm
}
.subtitle {
  @apply text-xs text-gray-400
}
.tooltipStyles {
  @apply rounded  p-2 bg-white opacity-70;
  -webkit-box-shadow: 3px 3px 8px 5px rgba(0, 0, 0, 0.05);
  box-shadow: 3px 3px 8px 5px rgba(0, 0, 0, 0.05);

}
.tooltipStyles p{
  color: #8884d8;
}
.loading-circle {
  @apply h-28 w-28 border-8 border-solid border-b-transparent border-sky-900 rounded-full;
  animation: drawBorder 1s linear infinite;
 
}

@keyframes drawBorder {
  0% {
    @apply top-0 left-0 ;
    transform: rotate(0deg);
  }

  100% {
    @apply top-3/4 left-3/4;
    transform: rotate(360deg);
  }
}